admin/
databases/docs/Database Management Systems 3Rd Edition.pdf
induction/statsIntro/docs/maths_and_data_analysis.pdf
induction/statsIntro/docs/Tutorial Basic Statistics and Probability using R.pdf
optimisation/docs/intro_to_or.pdf
preStudy/accounting_primer/bal_pnl_income.xlsx
stats_and_econ/docs/Jeffrey M. Wooldridge-Introductory Econometrics_ A Modern Approach-South-Western College Pub (2012).pdf
.Rproj.user
induction/statsIntro/docs/Mathematical Statistics and Data Analysis.pdf
induction/statsIntro/docs/Mathematical Statistics and Data Analysis_k2opt.pdf
stats_and_econ/docs/Jeffrey M. Wooldridge-Introductory Econometrics_ A Modern Approach-South-Western College Pub (2012)_k2opt.pdf
stats_and_econ/lectures/*.pdf
stats_and_econ/notes/*.pdf
databases/docs/
databases/notes/L0001.pdf
databases/lectures/
intro_to_da/notes/L0001.pdf
