# ignore for admin 
admin/

# ignore for vldm course
vldm/docs/*.pdf
vldm/notes/*.pdf
vldm/assigments/*/*.pdf
vldm/assigments/*/*/*.pdf
vldm/lectures/*.pdf
vldm/assigments/a3/aws_key/ec2key_frankfurt.pem
vldm/assigments/a4/aws_key/ec2key_frankfurt.pem
vldm/assigments/a3/misc/hadoop\ jar

# ignore for induction courses
induction/statsIntro/docs/*.pdf
preStudy/accounting_primer/bal_pnl_income.xlsx
induction/statsIntro/docs/*.pdf
induction/intro_to_linear_algebra/*.pdf

# ignore for optimisation class
optimisation/docs/*.pdf
optimisation/docs/*/*.pdf
optimisation/hw/hw1/*.pdf
optimisation/hw/*/*.pdf
optimisation/notes/*.pdf
optimisation/hw/*/*.pdf
optimisation/hw/*/*/*.pdf
optimisation/hw/*/*/*.doc

# ignore for stats class
stats_and_econ/docs/*.pdf
stats_and_econ/lectures/*.pdf
stats_and_econ/notes/*.pdf
stats_and_econ/docs/lectures/*.pdf
stats_and_econ/homework/*.pdf
stats_and_econ/homework/*/*.pdf

# ignore for R project files
.Rproj.user
*.Rhistory

# ignore for intro to da
intro_to_da/notes/*.pdf
intro_to_da/cases/*.pdf
intro_to_da/notes/*.pdf
intro_to_da/articles/*.pdf
intro_to_da/lectures/*.pdf
intro_to_da/lectures/*.pptx
intro_to_da/assignment/*.docx
intro_to_da/assignment/toHandIn/
intro_to_da/assignment/shiny/data/.~lock.BA_Anonymised.xlsx#
intro_to_da/assignment/*.pdf
intro_to_da/assignment/report/*.pdf
intro_to_da/assignment/pres/deprecated/*.html
intro_to_da/assignment/pres/*.html
intro_to_da/assignment/pres/group4_presentation.html
intro_to_da/assignment/team4Assignment.zip

# ignore for networks course
networks/docs/*/*.pdf
networks/hw/*/*.pdf
networks/hw/*/*/*.pdf
networks/hw/*/*/*.jpg
networks/notes/*.pdf

# ignore for workforce analytics
workforce/docs/*.pdf
workforce/docs/*.docx
workforce/docs/*/*.pdf
workforce/workshops/*/*.pf
workforce/data/*.zip
workforce/data/*/*.zip
workforce/lectures/*/*.xlsx
workforce/workshops/*/*.xlsx
workforce/workshops/*/*.pdf

# ignore for ml
ml/hw/hw0/*.pdf

# ignore for vis
vis/*.pdf
vis/*/*/*.xls
vis/*/*/*.xlsx
vis/*/*/*/*.xls
vis/*/*/*/*.xlsx
vis/*/*/*.pdf



