admin/
databases/docs/Database Management Systems 3Rd Edition.pdf
induction/statsIntro/docs/maths_and_data_analysis.pdf
induction/statsIntro/docs/Tutorial Basic Statistics and Probability using R.pdf
optimisation/docs/intro_to_or.pdf
preStudy/accounting_primer/bal_pnl_income.xlsx
stats_and_econ/docs/Jeffrey M. Wooldridge-Introductory Econometrics_ A Modern Approach-South-Western College Pub (2012).pdf
