/**
* Created by Samuel Gratzl on 11.02.2016.
*/

rect {
fill: steelblue;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  display: true;
}

.axis text {
	font-famly: sans-serif;
	font-size: 8px;
}

.xlab {
	font-famly: sans-serif;
	font-size: 15px;
}

