/**
* Created by Samuel Gratzl on 11.02.2016.
*/
/* Style bars */
rect {
opacity: .75;
}
.bar {
  opacity: .75;
}

/* Style axes */
.axis {
  font-size: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	font-famly: serif;
	font-size: 8px;
}

.xlab {
	font-famly: serif;
	font-size: 10px;
}

.ylab {
  font-famly: serif;
  font-size: 15px;
}

/* Style tooltips */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*------------------------ Styles for scatterplot ------------------------- */
/* Style dots */
.dot {
  stroke: "steelblue";
  opacity: .75;
  stroke-opacity: .75;
  fill-opacity: .75;
}

#controls {
  font-size: 12px;
  position: absolute;
  top: 890px;
  left: 1150px;
}

input {
  margin: 4px 4px 0;
}

.introduction {
  text-align: left;
  font-size: 10px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
  background-color: #E8E8EE
}

svg {
  display: inline-block;
}



.grid_scatter .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid_scatter path {
      stroke-width: 0;
}


.grid_bar .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid_bar path {
      stroke-width: 0;
}